// Variables
$website-width: 1280px;
$main-color: rgb(255, 220, 93);
$light-color: rgb(93, 173, 236);
$medium-color: rgb(197, 197, 197);
$dark-color: rgb(70, 70, 70);
$bg-image: url('../img/showcase.jpg');
