// Tablets & Smaller
@media(max-width: 800px) {
    #header-home {
        height: 30rem;

        .header-content {
            display: none;
        }

        .header-content-mobile {
            padding-top: 5%;
            padding-right: 10%;
            font-size: 14px;
        }
    }

    #intro {
        font-size: 5px;
    }

    #about-a {
        padding-top: 8%;
        padding-bottom: 40%;
        
        .about-info {
            display: none;
        }

        .about-info-mobile {
            padding-top: 5%;
            padding-bottom: 12%;
            
        }

        // Grid Area
        .bio-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            padding-bottom: 8%;
        }

        .bio {
            border-left: 3px solid $main-color;
            border-radius: 1rem;
            padding: 1rem;
            padding-top: 0.8rem;
            font-size: 24px;
        }
    }

    // #main-footer {
    //     height: 7rem;

    //     .footer-content {
    //         flex-direction: column;
    //         padding: 1rem;
    //         height: 5rem;
            
    //     }
    // }
}

@media(min-width: 801px) {
    .about-info-mobile {
        display: none;
        
    }

    .header-content-mobile {
        display: none;
    }
}

// Smartphones
@media(max-width: 500px) {
    #main-nav {
        flex-direction: column;
        align-items: center;

        li {
            padding: 1rem;
        }
    }

    #header {
        &-home {
            height: 10rem;
            border-bottom: 3px solid $main-color;
            .header-content {
                display: none;
            }
        }

        &-inner {
            height: 10rem;
        }
    }

    // Stack Grid Columns
    #home-a .specials,
    #home-b .process,
    #c.contact-info,
    .items {
        grid-template-columns: 1fr;
    }

    #home {
        &-a {
            .specials div {
                border-color: 1px $light-color solid;
                padding-bottom: 1rem;

                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }

        &-b {
            .stats div {
                padding: 2rem 0 1rem 0;
            }
        }
    }

    // Contact
    #contact {
        &-a {
            .text-fields {
                grid-template-areas:
                    'name'
                    'subject'
                    'email'
                    'phone'
                    'message'
            }
        }
    }

    // Footer
    #main-footer {
        height: 7rem;

        .footer-content {
            flex-direction: column;
            padding: 1rem;
            height: 5rem;
            
        }
    }
}